/* 전체적인 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label, input, button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
}

/* 약 정보 아이템 스타일 */
.drug-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fafafa;
}

.drug-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.drug-image {
  max-width: 100px;
  margin-right: 15px;
  border-radius: 10px;
}

.drug-content {
  flex: 1;
}

.drug-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.drug-details {
  display: none;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
  .drug-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .drug-image {
    max-width: 80%;
    margin-bottom: 10px;
  }
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
